@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


.inter {
  font-family: "Inter", sans-serif;
}
.faq {
  width: 60%;
  margin: 0 auto;
}



.faq-question {
  cursor: pointer;
  font-weight: bold;
  margin: 0;
}

.faq-answer {
  margin-top: 5px;
}
.service {
  background: url("/image/overlay.png") no-repeat center
    center / cover;
  position: relative;
}


.service .overlay {
  background-color: rgba(15, 18, 46, 0.7);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
